 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.about {
    color: #aaa;
    margin-bottom: 20px;
}

.btn {
    display: block;
    text-decoration: none;
    background: #1e90ff;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 18px;
}

.btn:hover {
    background: #00bfff;
}